---
layout: default
current_status: Coming soon
production: Here we are
description: >-
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae eros quis
  nisl aliquam aliqu etiam. Sed vitae eros quis nisl aliquam aliqu etiam.
  consectetur adipiscing elit. Sed vitae eros quis nisl aliquam aliqu etiam. Sed
  vitae eros quis nisl aliquam aliqu etiam. consectetur adipiscing elit. Sed
  vitae eros quis nisl aliquam aliqu etiam. Sed vitae eros quis nisl aliquam
  aliqu etiam. consectetur adipiscing elit. Sed vitae eros quis nisl aliquam
  aliqu etiam. Sed vitae eros quis nisl aliquam aliqu etiam.
published: true
---
{% include buffer.html %}

<div class="flex flex-col lg:flex-row">
	<div class="flex flex-col p-4">
		<div class="text-6xl">
			<p>
			Duo
			</p>
			<p>
			Multiculutral
			</p>
			<p>
			Arts
			</p>
		</div>
		<div class="flex space-x-8 max-w-prose">
			<p> <span class="text-6xl">Center</span> {{page.description}}</p>
		</div>
	</div>
	<div class="flex flex-col mx-auto my-10 lg:my-0 lg:ml-auto lg:mr-0">
		<div class="relative">
			<div class="group">
				{% assign related_work = site.work | where: 'title', page.production | first %}
				<div class="hidden pointer-events-none lg:block">
					<div class="w-32 h-32 border-black border-2 duration-500 transition-all bg-black group-hover:bg-[{{related_work.primary_color | default: "#000000"}}] rounded-b-full absolute bottom-0 -left-36 opacity-30">
					</div>
					<div class="w-32 h-32 border-black border-2 duration-500 transition-all bg-black group-hover:bg-[{{related_work.secondary_color | default: "#FFFFFF"}}] rounded-full absolute bottom-0 -left-72 opacity-30">
					</div>
				</div>
				<p class="text-2xl font-bold w-fit min-w-full lg:min-w-0 transition-all ml-auto mr-0 duration-500 group-hover:min-w-[100%] text-center">{{page.current_status}}</p>
				<a href="{% if related_work.url %}{{site.baseurl}}{{related_work.url}}{% endif %}">
				<div class="border-black border-2 lg:rounded-l-[100%] transition-all bg-cover bg-center duration-500 lg:group-hover:rounded-md bg-[#B2B2B2] aspect-[4/6] w-80"
					style="background-image: url('{{site.baseurl}}{{related_work.image}}')">
				</div>
				</a>
				<p class="text-2xl w-fit min-w-full lg:min-w-0 transition-all ml-auto mr-0 duration-500 group-hover:min-w-[100%] text-center max-w-80 text-ellipsis overflow-hidden whitespace-nowrap">{{related_work.title}}</p>
			</div>
		</div>
	</div>
</div>
