---
layout: default
current_status: Currently in theatre
production: Here we are
description: >
  has been a place to meet ideas for over 125 years. Between a 74 seat theatre
  and gallery space spanning two floors, Duo provides intimate spaces to engage
  and room to explore. Now blank canvases, the walls share scars and stories
  from lives past; from New York's first labor unions to the silver screen to
  Andy Warhol and many in between, our space has played host to those that could
  have only existed within its sanctuary. We invite you to join us as we
  continue to write history within.
published: true
---
{% include buffer.html %}

<div class="flex flex-col lg:flex-row">
	<div class="flex flex-col p-4">
		<div class="text-6xl">
			<p>
			Duo
			</p>
			<p>
			Multiculutral
			</p>
			<p>
			Arts
			</p>
		</div>
		<div class="flex space-x-8 max-w-prose">
			<p> <span class="text-6xl">Center</span> {{page.description}}</p>
		</div>
	</div>
	<div class="flex flex-col mx-auto my-10 lg:my-0 lg:ml-auto lg:mr-0">
		<div class="relative">
			<div class="group">
				{% assign related_work = site.work | where: 'title', page.production | first %}
				<div class="hidden pointer-events-none lg:block">
					<div class="w-32 h-32 border-black dark:border-white border-2 duration-500 transition-all bg-black dark:bg-white {% if related_work %}group-hover:bg-[{{related_work.primary_color | default: "#000000"}}]{% endif %} rounded-b-full absolute bottom-0 -left-36 opacity-30">
					</div>
					<div class="w-32 h-32 border-black dark:border-white border-2 duration-500 transition-all bg-black dark:bg-white {% if related_work %}group-hover:bg-[{{related_work.secondary_color | default: "#FFFFFF"}}]{% endif %} rounded-full absolute bottom-0 -left-72 opacity-30">
					</div>
				</div>
				{% if related_work %}<p class="text-2xl font-bold w-fit min-w-full lg:min-w-0 transition-all ml-auto mr-0 duration-500 group-hover:min-w-[100%] text-center">{{page.current_status}}</p>{% endif %}
				{% if related_work.url %}<a href="{{ related_work.url | relative_url }}">{% endif %}
				<div class="{% if related_work %}border-black dark:border-white border-2 {% else %}hidden lg:block{% endif %} lg:rounded-l-[100%] transition-all bg-cover bg-center duration-500 {% if related_work %}lg:group-hover:rounded-md{% endif %} bg-[#B2B2B2] dark:bg-[#5D5D5D] aspect-[4/6] w-80"
					style="background-image: url('{{related_work.image | relative_url}}')">
				</div>
				</a>
				<p class="text-2xl w-fit min-w-full lg:min-w-0 transition-all ml-auto mr-0 duration-500 group-hover:min-w-[100%] text-center max-w-80 text-ellipsis overflow-hidden whitespace-nowrap">{{related_work.title}}</p>
			</div>
		</div>
	</div>
</div>
