---
layout: default
title: "Productions"
---
{% include buffer.html %}

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
	{% assign sorted_work = site.work | where_exp: 'work', 'work.hide != true' | sort: 'opening_night' | reverse %}
	{% for work in sorted_work %}
	<a href="{{site.baseurl}}{{work.url}}"><div class="bg-gray-100 rounded-md dark:bg-neutral-700 group">
			<div class="w-full aspect-[4/6] bg-cover bg-center dark:bg-neutral-600 bg-gray-200 rounded-md"
				style="background-image: url('{{site.baseurl}}{{work.image}}')"></div>
			<div class="relative">
				<div class="p-2">
					<h2 class="mb-2 text-lg font-semibold">{{ work.title }}</h2>
					<p class="mb-2 text-gray-500 text-md">{{ work.opening_night }}{% if work.closing_night %} - {{ work.closing_night }}{% endif %}</p>
					<p class="mb-2 text-gray-500 text-md">{{ work.production_company }}</p>
				</div>
				<div class="absolute bottom-0 right-0">
					<div class="w-16 h-16 bg-gray-200 dark:bg-neutral-800 transition-all duration-250 group-hover:bg-[{{ work.primary_color | default: '#000000' }}] dark:group-hover:bg-[{{ work.primary_color | default: '#FFFFFF' }}] flex rounded-l-full">
						<div class="w-10 h-10 bg-white dark:bg-neutral-900 transition-all duration-250 group-hover:bg-[{{ work.secondary_color | default: '#ffffff' }}] dark:group-hover:bg-[{{ work.secondary_color | default: '#000000' }}] m-auto flex rounded-full">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-auto dark:text-white">
								<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
							</svg>
						</div>
					</div>
				</div>

			</div>
		</div></a>
		{% endfor %}
</div>
